.nav_container {
    display: flex;
    height: 5vh;
    background: var(--color-black);
    color: white;
    padding: 0;
    justify-content: center;
    position: fixed;
}

.nav_contents {
    display: flex;
    width: 50%;
    text-align: center;
    padding-top: 0.5rem;
    justify-content: space-between;
}

.nav_content {
    padding-top: 0.5rem;
}

a {
    color: white;
}

.nav_contents a:hover {
    color: var(--color-variant);
}

.nav_title {
    font-size: 2rem;
    padding-top: 0;
}

.active {
    color: var(--color-variant);
}

.modal_container {
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
}

.modal__container {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: var(--color-black);
    flex-direction: column;
}

.mobile-pages__container {
    background: var(--color-black);
    width: 100%;
    display: grid;
    text-align: center;
}

.mobile-nav_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .modal_btn {
        background: var(--color-black);
        color: var(--color-white);
        text-align: right;
        width: 10%;
        font-size: 2.4rem;
    }
    
    .btn_container {
        padding: 0.8% 4% 0 0;
    }
    
    .mobile-nav_contents {
        width: 10%;
        text-align: center;
        font-size: 3rem;
    }
    
    .mobile-nav_container {
        display: flex;
        height: 7.2vh;
        background: var(--color-black);
        color: white;
        justify-content: space-between;
        position: fixed;
        padding-top: 1rem;
    }
    
    .empty_container {
        width: 10%;
        padding-left: 4%;
    }

    .mobile-pages__container {
        padding-top: 7vh;
    }

    .mobile-pages__container {
        padding: 25vh 0;
    }

    .modal-nav_content {
        padding: 3rem 0;
        font-size: 2rem;
    }

    .mobile-about {
        padding-bottom: 3rem;
        font-size: 2rem;
    }

    .mobile-faq {
        padding-top: 3rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .modal_btn {
        background: var(--color-black);
        color: var(--color-white);
        text-align: right;
        width: 10%;
        font-size: 1.8rem;
    }
    
    .btn_container {
        padding: 1.3% 5% 0 0;
    }
    
    .mobile-nav_contents {
        width: 10%;
        text-align: center;
        padding-top: 0.5%;
        font-size: 2.2rem;
        padding-left: 3%;
    }
    
    .mobile-nav_container {
        display: flex;
        height: 7.2vh;
        background: var(--color-black);
        color: white;
        justify-content: space-between;
        position: fixed;
        padding-top: 0.5rem;
    }
    
    .empty_container {
        width: 10%;
        padding-left: 5%;
    }

    .mobile-pages__container {
        padding: 25vh 0;
    }

    .modal-nav_content {
        padding: 2rem 0;
        font-size: 1.5rem;
    }

    .mobile-about {
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }

    .mobile-faq {
        padding-top: 2rem;
        font-size: 1.5rem;
    }
}